# Web framework
Flask>=2.3,<3
gunicorn>=21.0

# Web concurrency
gevent>=23.12.0
gevent-websocket>=0.10.1

# Auth & API
Authlib==1.3.0
requests==2.31.0
google-auth
google-auth-oauthlib
google-api-python-client
requests-oauthlib>=2.0.0
stripe>=14,<15

# PDF / Rendering
xhtml2pdf==0.2.8
python-bidi==0.4.2
pyHanko==0.12.1
pyhanko-certvalidator==0.19.8
pypdf>=3.1.0,<6.0.0
arabic-reshaper>=3.0.0
html5lib>=1.1
Pillow>=10.0.0

# Environment management
python-dotenv>=1.0

# Misc / Safe deps
bleach==6.1.0
cachetools
pyasn1
pyasn1-modules
rsa
httplib2
google-auth-httplib2
google-api-core
uritemplate
googleapis-common-protos
protobuf
proto-plus
pyparsing
typing_extensions
charset-normalizer
idna
urllib3
certifi
greenlet>=3.3.1
zope.event
zope.interface
webencodings

